<!DOCTYPE html>
<html>
<head>
	<title>World of Tanks Tankopedia</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>
	<nav>
	    <div class="nav-wrapper">
	      <a href="/" class="brand-logo title-btn nav-link">World Of Tanks Companion</a>
	      <ul id="nav-mobile" class="right hide-on-med-and-down">
	        <li><a href="/tanks/" class="nav-link">Tanks</a></li>
	        <li><a href="/players/" class="nav-link">Players</a></li>
	        <% if(!user) { %>
		    <li><a href="/auth/login" class="nav-link">Login</a></li>
		    <li><a href="/auth/signup" class="nav-link">Sign Up</a></li>
		    <% } else { %>
		    	<% if(user.admin){ %>
			    	<li><a href="/profile/admin" class="nav-link">Admin</a></li>
			   	<% } %>
			    <li><a href="/profile" class="nav-link"><%= user.username %></a></li>
			    <li><a href="/auth/logout" class="nav-link">Log Out</a></li>

			<% } %>
	      </ul>
	    </div>
	  </nav>
	  <div class="container">
	  	<%- include partials/alerts %>
		<%- body %>
	</div>

<script>
	document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('select');
    var instances = M.FormSelect.init(elems);
  });
</script>
<script>
 document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.collapsible');
    var instances = M.Collapsible.init(elems);
  });
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>
