<% var packs = []; %>
<% for (var package in packageNums) { %>
	<% packs.push(packageNums[package]) %>
<% } %>

<% var packages = packs[0].packages %>

<div class="container">
	<ul><%= tank.short_name %>
		<% for (var packId in packages) { %>

			<li>Engine: <%= packages[packId].engine.name %></li>
		<% } %>
	</ul>

	<img src="<%= tank.images %>">
</div>